.about{
    margin-top: 114px;
}

.team-dev{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

