.home{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.gallery{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.horizontal-scroll-contenedor{
    overflow-y: hidden; 
    overflow-x: auto;

    width: auto;
    height: 50px;
    padding: 10px;
    white-space: nowrap;


}

.horizontal-scroll-contenedor div{
    width: 100px;
    height: 50px;
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
}


@media screen and (min-width: 1400px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 743px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 645px){
    .gallery{
        grid-template-columns: 1fr;
    }
}