.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);

    position: fixed;
    top: 0 !important;
    width: 100%;
    z-index: 10;
    background: #fff;
}

.navigation img{
    width: 100px;
}

.navigation .box-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation .icon{
    font-size: 20px;
    margin: 0 10px;
}

.navigation .cart{
    position: relative;
}

.navigation .box-icons{
    display: flex;
}

.navigation .cart .number{
    position: absolute;
    top: -10px;
    left: 48%;
    font-size: 12px;
    background: var(--color-one);
    border-radius: 50%;
    color: #fff;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.navigation .icon-menu{
    font-size: 30px;
}

@media screen and (max-width: 750px){
    .navigation .box-search{
        display: none;
    }

    .navigation img{
        width: 70px;
    }
}

@media screen and (max-width: 380px){
    .navigation .logo-text{
        display: none;
    }

    .navigation img{
        width: 62px;
    }
}

/* *******
** Menu **
******* */
.menu{
    padding: 20px;
    width: 45%;
    max-width: 290px;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 33;
    height: 100vh;

    transition: all .5s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu ul{
    padding: 0 !important;
}

.menu ul li{
    list-style: none !important;
    margin: 12px 0;
}

.menu ul li a{
    text-decoration: none !important;
    color: #000;
}

.icon{
    font-size: 20px !important;
}

.menu-hidden{
    left: -200vw;
}

.menu-active{
    left: 0;
}

@media screen and (max-width: 530px){
    .menu{
        width: 75%;
    }
}