.banner{
    position: relative;
}

.banner .banner-img{
    width: 100%;
}

.banner .form{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    padding: 20px;
    width: 350px;
    position: absolute;
    top: 40px;
    left: 20px;
}

@media screen and (max-width: 692px){
    .banner .form{
        position: static;
    }
}