.banner{
    position: relative;
}

.banner .banner-img{
    width: 100%;
    margin-top: 114px !important;
    max-height: 684px;
    border-radius: 4px;
}

.banner .form{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    padding: 20px;
    width: 350px;
    position: absolute;
    top: 210px;
    left: 40px;
}

@media screen and (min-width: 1300px){
    .banner .form{
        width: 460px !important;
    }
}

@media screen and (max-width: 692px){
    .banner .form{
        position: static;
        width: 100%;
    }
}